<!DOCTYPE html>
<html>

<head>
	<title>Leaflet</title>
	<link rel="stylesheet" href="/leaflet/leaflet.css" />
	<script src="/leaflet/leaflet-src.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://matchingnotes.com/javascripts/leaflet-google.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
	<style type="text/css">
		body {
			margin: 0 auto;
			background: #F0F0F0;
		}
	</style>
</head>

<body>
	<div style="width:100%; height:1000px" id="map"></div>
	<script src="/js/map.js"></script>
</body>

</html>